<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Carros</title>
</head>
<body>
	<div class="container my-2">
		<a th:href="@{/lista/carros/novo}">Adicionar Carro</a>
		<h1>Carros</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>ID</th>
					<th>Valor</th>
					<th>Ano</th>
					<th>Modelo</th>
					<th>Marca</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carro : ${listaCarros}">
					<td th:text="${carro.id}"></td>
					<td th:text="${carro.valor}"></td>
					<td th:text="${carro.ano}"></td>
					<td th:text="${carro.modelo}"></td>
					<td th:text="${carro.marca}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>