<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Carros</title>

</head>
<header class="cabecalho">
    <h1>CarStock</h1>
</header>

<body>
    <div class="principal">
        <div class="container">
            <a id="return" th:href="@{/}">Retornar para home</a>
            <h1>Lista de Carros</h1>
            <div class="table">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Ano</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="carro : ${listaCarros}">
                            <td th:text="${carro.valor}"></td>
                            <td th:text="${carro.ano}"></td>
                            <td th:text="${carro.modelo}"></td>
                            <td th:text="${carro.marca}"></td>
                            <td th:text="${carro.categoria.descricao}"></td>
                            <td>
                                <a class="buttom" id="alterar" th:href="@{/vendas/comprar/{id}(id=${carro.id})}">Comprar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>