<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/caixa.css">
    <title>Carros Vendidos</title>

</head>
<header class="cabecalho">
    <h1>CarStock</h1>
</header>

<body>
    <div class="principal">
        <div class="container">
            <a id="return" th:href="@{/home/funcionario}">Retornar para o painel de gerenciamentos</a>
            <span id="title">Caixa CarStock</span> 
            <h1>Lista de Carros Vendidos</h1>
            <div class="table">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Comprador</th>
                            <th>Data da Compra</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Valor do carro</th>
                            <th>Valor da venda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vendas : ${listaVendas}">
                            <td th:text="${vendas.CarroModel.id}"></td>
                            <td th:text="${vendas.ClienteModel.nome}"></td>
                            <td th:text="${#calendars.format(vendas.dataCompra, 'dd/MMM/yyyy')}"></td>
                            <td th:text="${vendas.CarroModel.marca}"></td>
                            <td th:text="${vendas.CarroModel.modelo}"></td>
                            <td th:text="${vendas.CarroModel.valor}"></td>
                            <td th:text="${vendas.valorVenda}"></td>
                            
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="valorFinal">
				<span>Valor total de suas vendas: R$<span th:text="${caixaFinal}"></span></span>
				           
            </div>
        </div>
    </div>
</body>
 
</html>
