<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/caixa.css">
    <title>Carros Vendidos</title>

</head>
<header class="cabecalho">
    <h1>CarStock</h1>
</header>

<body>
    <div class="principal">
        <div class="container">
            <a id="return" th:href="@{/home/funcionario}">Retornar para o painel de gerenciamentos</a>
            <span id="title">Caixa CarStock</span> 
            <h1>Lista de Carros Vendidos</h1>
            <div class="table">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Valor</th>
                            <th>Ano</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Categoria</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="carro : ${listaCarros}">
                            <td th:text="${carro.id}"></td>
                            <td th:text="${carro.valor}"></td>
                            <td th:text="${carro.ano}"></td>
                            <td th:text="${carro.modelo}"></td>
                            <td th:text="${carro.marca}"></td>
                            <td th:text="${carro.categoria.descricao}"></td>
                            <td th:text="${carro.status.descricao}"></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="valorFinal">
				<span>Valor total de suas vendas: R$<span th:text="${caixaFinal}"></span></span>
				           
            </div>
        </div>
    </div>
</body>
 
</html>
