@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E8F1F2;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    background-color: #1B98E0;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #E8F1F2;
}

.principal {
    width: 100%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 600px;
    background: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    
}
.container h1{
    color: #1B98E0;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.container .buttom{
    display: block;
    height: 80px;
    width: 500px;
    line-height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #1B98E0;
    cursor: pointer;
    border: 1px solid #1B98E0;
}

.container .buttom:hover{
    background-color: #1B98E0;
    color: #E8F1F2;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #1B98E0;
    border-radius: 5px;
}
