<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login-Funcionario</title>
<link rel="stylesheet" type="text/css" href="../static/css/login.css"
	th:href="@{/css/login.css}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/71110bcb36.js"
	crossorigin="anonymous" defer></script>
</head>

<body>
	<header>
		<h1>CarStock</h1>
	</header>

	<main>
		<form action="#" th:action="@{/loginFuncionario}"
			th:object="${funcionarioDto}" method="POST">
			<span>Seja bem vindo!</span>
			<section class="inputs-container">
				<input type="email" th:field="*{email}" id="email" name="email"
					placeholder="example@gmail.com">

				<div class="password-container">
					<input type="password" th:field="*{senha}" id="field-password"
						class="fild-password" placeholder="********"> <i
						class="fas fa-eye" id="eye" onclick="showPassword()"></i> <i
						class="fas fa-eye-slash" id="eye-slash" onclick="showPassword()"></i>
				</div>
				<div id="error" th:if="${mensagem != null}"><span th:text="${mensagem}"></span></div>
			</section>
			<section class="password-infos">
				<div>
					<input type="checkbox"> <span>Lembrar senha?</span>
				</div>

				<a href="a">Esqueceu sua senha?</a>
			</section>

			<button type="submit" id="btn-login">Login</button>

			

			<footer>
				<hr>
				
			</footer>
		</form>
		
	</main>

	<script>
		function showPassword() {
			const eye = document.getElementById('eye');
			const eyeSlash = document.getElementById('eye-slash');
			const fieldPassword = document.getElementById('field-password');

			if (eye.style.display === 'none') {
				eye.style.display = 'block';
				eyeSlash.style.display = 'none';
				fieldPassword.type = 'text';
			} else {
				eye.style.display = 'none';
				eyeSlash.style.display = 'block';
				fieldPassword.type = 'password';
			}
		};
	</script>
</body>
</html>
