<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Clientes</title>

</head>
<header class="cabecalho">
    <h1>CarStock</h1>
</header>

<body>
    <div class="principal">
        <div class="container">
            <a id="addCarro" th:href="@{/lista/clientes/novo}">Adicionar Cliente</a>
            <h1>Lista de Clientes</h1>
            <div class="table">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Senha</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${listaClientes}">
                            <td th:text="${cliente.id}"></td>
                            <td th:text="${cliente.nome}"></td>
                            <td th:text="${cliente.telefone}"></td>
                            <td th:text="${cliente.email}"></td>
                            <td th:text="${cliente.senha}"></td>
                            <td>
                                <a class="buttom" id="alterar" th:href="@{/lista/clientes/{id}(id=${cliente.id})}">Alterar</a>
                                <a class="buttom" id="excluir" th:href="@{/lista/clientes/excluir/{id}(id=${cliente.id})}">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>