<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>
    <header class="cabecalho">
        <h1>CarStock</h1>
    </header>
    <div class="principal">
        <div class="container">
            <h1>Bem Vindo!</h1>
            <div class="inputs">
                <a class="buttom" th:href="@{/loginFuncionario}">Funcionário</a>
                <a class="buttom" th:href="@{/loginCliente}">Cliente</a>
            </div>
        </div>
    </div>
</body>

</html>