<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeFuncionario.css">
    <title>Home</title>
</head>

<body>
    <header class="cabecalho">
        <h1>CarStock</h1>
    </header>
    <div class="principal">
        <div class="container">
            <h1>Tela de Gerenciamento!</h1>
            
            <div class="inputs">
                <a class="buttom" th:href="@{/lista/clientes/}">Lista de Clientes</a>
                <a class="buttom" th:href="@{/lista/funcionarios/}">Lista de Funcionarios</a>
                <a class="buttom" th:href="@{/lista/carros}">Lista de Carros</a>
                <a class="buttom" th:href="@{/lista/caixa}">Caixa</a>
                <a id="return" th:href="@{/}">Retornar para home</a>
            </div>
        </div>
    </div>
</body>

</html>